<br />
<div class="booyah-box col-8 offset-2">
    <h2>
        Upload Photo
    </h2>

    <%= simple_form_for @pic do |f| %>
    <%= f.input :caption %>
    <%= f.submit "Post!" %>
    <% end %>
    <br />
</div>