<%= @pic.inspect %>
        <div class="col-lg-3 col-md-4 col-6">
            <% link_to %>
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt="">
                
            </a>
            <h1>
                the pic is hard coded, make sure to change up the pics show in order to show the specific picture's info
            </h1>
        </div>   