
        <div class="col-8 offset-2">
            
            
            <%= image_tag @pic.image.to_s, class: 'img-fluid'%>
            
            <p>
               <%= @pic.caption %> 
            </p>
        </div>   
